<p>Olá <b><%= @resource.email %></b>,</p>

<p>Você solicitou uma redefinição de sua senha no Impulso Project. Você pode fazer isso através do link abaixo:</p>

<p><%= link_to 'Redefinir minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou essa alteração, favor ignorar este email.</p>
<p>Este é um email automático. Para maiores informações, entre em contato com algum administrador.</p>
